# Data Science Tools and Ecosystem

## Author
Oren Barkow

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:

* List popular languages for Data Science
* List Common Libraries that Data Scientists use
* List Common Tools that Data Scienctists use
* Did some math and made some friends along the way

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL
4. Java
5. Javascript

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. PyTorch

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| Anaconda |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335